.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/login-image.webp') no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.contentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 400px;
    z-index: 1;
}

.profilePicContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.userInfo {
    margin-top: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
}

.userInfo p {
    margin: 5px 0;
}

.username {
    font-weight: bold;
    font-size: 20px;
}

input::placeholder {
    color: white; 
}
  
.input {
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #828181;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(54, 52, 52);
    caret-color: white;
    width: 250px;
}

.forgotPIN {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.forgotPIN:hover {
    color: #d3d3d3; 
}

.bottomRightIcons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.bottomRightIcons i {
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.hiddenSubmitButton{
    display: none;
}
.powerMenu {
    margin-bottom: 20px;
    position: absolute;
    bottom: 10px;
    right: 55px;
    background: rgba(34, 33, 33, 0.7);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .powerMenuOption {
    display: flex;
    align-items: center;
    padding: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
  
  .powerMenuIcon {
    margin-right: 20px; 
    font-size: 18px;
  }
  
.powerMenuOption:hover {
    background-color: #bdbaba27;
}

.signInOptions {
    margin-top: 20px;
    text-align: center;
}
  
.signInOptionsButton {
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}
.signInOptionsButton:hover{
    color: #d3d3d3; 
}
  
.signInOptionsButton .fa-chevron-down {
    margin-left: 10px;
    transition: transform 0.3s ease;
}
  
.signInOptionsMenu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
  
.signInOptionIcon {
    font-size: 20px;
    color: white;
    margin: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: rgb(79, 77, 77);
    padding: 5px;
}
  
.signInOptionIcon:hover {
    color: #d3d3d3; 
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 2; 
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}
.errorMessage {
    color: red; 
    font-size: 14px; 
    margin-top: 10px; 
    text-align: center;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.shutdownPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popupContent {
    color: white;
    background-color: rgba(51, 51, 51, 0.561);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}


.popupButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 100px;
}

.popupButtonNo {
    padding: 10px 20px;
    border: none;
    background-color: #0078d4;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.popupButtonYes {
    padding: 10px 20px;
    border: none;
    background-color: rgb(176, 47, 47);
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.popupButtonYes:hover{
    background-color: red;
}
.popupButtonNo:hover {
    background-color: #005a9e;
}

.loading p {
    color: white;
    margin-bottom: 10px;
}
.blackScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
  }
  
  .sleepScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    z-index: 9999;
  }
  
  .sleepTime {
    font-size: 40px;
    font-family: 'Arial', sans-serif;
  }

  .forgotPinPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000;
  }
  
  .popupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .closePopupButton {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background: rgb(136, 31, 31);
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .closePopupButton:hover {
    background: red;
  }
  