html, body {
  margin: 0; 
  padding: 0; 
  height: 100%;
  width: 100%; 
}

.homePage {
  background-image: url('../assets/bg2.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  width: 100vw; 
  display: flex; 
  align-items: center; 
  justify-content: flex-start;
  color: white; 
  text-align: center; 
  overflow: hidden; 
  position: relative; 
}

.icon-container, .resume-container, .vscode-container {
  display: flex;
  flex-direction: column; 
  align-items: center;  
  cursor: pointer;
  position: absolute; 
  left: 20px;
  transition: box-shadow 0.2s ease, transform 0.2s ease, backdrop-filter 0.2s ease;
  width: 85px;
  
}

.icon-container:hover, 
.resume-container:hover, 
.vscode-container:hover {
  background: rgba(255, 255, 255, 0.2); 

}

.icon-label, .resume-label, .vscode-label {
  margin-top: 5px; 
  font-size: 14px; 
  color: #fff;
}

.recycle-bin-img, .resume-icon, .vscode-icon {
  width: 50px; 
  height: 50px; 
}
